{% extends "community/base.html" %}
{% load static %}
{% block content %}
      <section class="section-thread section-padding2 section-profile-banner">
        <div class="container">
          <div class="row m-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb align-items-center pl-0 mb-0">
                <li class="breadcrumb-item d-flex"><a href="#">Home</a></li>
                <li class="breadcrumb-item d-flex"><a href="#">Library</a></li>
                <li class="breadcrumb-item d-flex active" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
          <div class="row m-0 thread-padding">
            <div class="col-md-8 px-0">
              <div class="main-thread"><span class="thrdStat thrdStat--default">Armour Lock </span><span class="thrdStat thrdStat--default">Security</span>
                <h1 class="main-thread__title">How to switch off lights in my living room ?<span class="thrdStat thrdStat--solved ml-4">Solved</span></h1>
                <div class="thread">
                  <div class="media mb-3 mb-md-4"><img class="align-self-center mr-3" src="{%  static "community/assets/images/forum/thread-1.png" %}"/>
                    <div class="media-body">
                      <h5 class="thread__title">Satya Nadaella</h5>
                      <p class="thread__date">Created on 20 Dec 2019  09:45 Am</p>
                    </div>
                  </div>
                  <p class="thread__desc">My Android phone is not able to connect to the touch magic. Can anyone suggest how to connect motorola mobile to toch magic</p>
                  <div class="d-flex align-items-center">
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/reply.svg" %}"/>
                      <p class="action-item__title">Reply</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/like.svg" %}"/>
                      <p class="action-item__title">Like</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/share.svg" %}"/>
                      <p class="action-item__title">Share</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0 thread-padding border-0">
            <div class="col-md-8 px-0">
              <div class="sub-thread">
                <p class="sub-thread__title">23 Replies</p>
                <div class="thread py-3 py-md-4">
                  <div class="media mb-3 mb-md-4"><img class="align-self-center mr-3" src="{%  static "community/assets/images/forum/thread-1.png" %}"/>
                    <div class="media-body">
                      <h5 class="thread__title">Satya Nadaella</h5>
                      <p class="thread__date">Created on 20 Dec 2019  09:45 Am</p>
                    </div>
                  </div>
                  <p class="thread__desc">My Android phone is not able to connect to the touch magic. Can anyone suggest how to connect motorola mobile to toch magic</p>
                  <div class="d-flex align-items-center">
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/reply.svg" %}"/>
                      <p class="action-item__title">Reply</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/like.svg" %}"/>
                      <p class="action-item__title">Like</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/share.svg" %}"/>
                      <p class="action-item__title">Share</p>
                    </div>
                  </div>
                </div>
                <div class="thread thread--nested py-4 py-md">
                  <div class="media mb-3 mb-md-4"><img class="align-self-center mr-3" src="{%  static "community/assets/images/forum/thread-2.png" %}"/>
                    <div class="media-body">
                      <h5 class="thread__title">Lilly johnson</h5>
                      <p class="thread__date">Created on 20 Dec 2019  09:45 Am</p>
                    </div>
                  </div>
                  <p class="thread__desc">My Android phone is not able to connect to the touch magic. Can anyone suggest how to connect motorola mobile to toch magic</p>
                  <div class="d-flex align-items-center">
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/reply.svg" %}"/>
                      <p class="action-item__title">Reply</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/like.svg" %}"/>
                      <p class="action-item__title">Like</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/share.svg" %}"/>
                      <p class="action-item__title">Share</p>
                    </div>
                  </div>
                </div>
                <div class="thread py-4 py-md">
                  <div class="media mb-3 mb-md-4"><img class="align-self-center mr-3" src="{%  static "community/assets/images/forum/thread-1.png" %}"/>
                    <div class="media-body">
                      <h5 class="thread__title">Satya Nadaella</h5>
                      <p class="thread__date">Created on 20 Dec 2019  09:45 Am</p>
                    </div>
                  </div>
                  <p class="thread__desc">My Android phone is not able to connect to the touch magic. Can anyone suggest how to connect motorola mobile to toch magic</p>
                  <div class="d-flex align-items-center">
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/reply.svg" %}"/>
                      <p class="action-item__title">Reply</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/like.svg" %}"/>
                      <p class="action-item__title">Like</p>
                    </div>
                    <div class="action-item"><img src="{%  static "community/assets/images/forum/share.svg" %}"/>
                      <p class="action-item__title">Share</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
