{% extends "community/base.html" %}
{% load static %}
{% block content %}
    <main class="js-white-header js-Profile-form js-home-page">
      <div class="page-loader" style="width: 100%;height: 100%;position: fixed;background: #ffffff;z-index: 10000;left: 0;top: 0;"></div>
      <svg class="text-gradient-value" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <lineargradient id="text-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#6164F1;stop-opacity:1"></stop>
          <stop offset="100%" style="stop-color:#FF6FD4;stop-opacity:1"></stop>
        </lineargradient>
      </svg>
      <section class="faq profile">
        <div class="container">
          <ul class="faq-tab nav pt-2 pt-md-5 d-flex fub-tabs-brder" role="tablist">
            <li class="nav-item"><a class="nav-link faq-tab-head py-3 py-md-4 px-4 active" id="user-profile-tab" data-toggle="tab" href="#user-profile" role="tab" aria-controls="safty" aria-selected="true">Profile Settings</a></li>
            <li class="nav-item"><a class="nav-link faq-tab-head py-3 py-md-4 px-4" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="Lights" aria-selected="false">Account Settings</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="user-profile" role="tabpanel" aria-labelledby="safty-tab">
              <div class="media mt-4 mt-md-5">
                <div class="img-wrper"><img src="{% static "community/assets/images/profile-img.png" %}" alt=""/></div>
                <div class="media-body my-auto ml-2 ml-md-4">
                  <input class="d-none profile-img" id="profile" name="profile" type="file" accept="image/x-png,image/gif,image/jpeg"/>
                  <label class="gradient-text-only" for="profile" data-value="Upload from Computer">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <text>Upload from Computer</text>
                    </svg>
                  </label>
                </div>
              </div>
              <div class="row mt-4 mt-md-5">
                <form class="contact-join-form getTouch-form w-100" autocomplete="off">
                  <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-First" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-First">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="profile-Email" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-Email">Email ID</label>
                      </div>
                      <div class="form-group radiobuttons mt-md-3 mt-2">
                        <label class="gender-lbl" for="profile-gender">Gender</label>
                        <div class="gender-wrp">
                          <div class="rdio rdio-primary mr-3 mr-md-4">
                            <input id="male" name="radio" value="1" type="radio" checked=""/>
                            <label for="male">Male</label>
                          </div>
                          <div class="rdio rdio-primary">
                            <input id="female" name="radio" value="2" type="radio"/>
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-last" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-last">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="mobile1" type="number" required="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57"/>
                        <label class="form-control-placeholder" for="mobile1">Phone Number</label>
                      </div>
                      <div class="form-group d-flex align-items-center my-md-3 my-2 psw-input">
                        <input class="form-control input-type" id="password" type="password" required=""/>
                        <label class="form-control-placeholder" for="password">Password</label><a class="psw-link gradient-text-only fnt-sm d-block pr-0" href="#" data-value="Change Password">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <text>Change Password</text>
                          </svg></a>
                      </div>
                      <div class="d-flex justify-content-end my-md-3 my-2">
                        <button class="btn btn--white mt-0 mr-3 mr-md-5" type=""><span>Reset</span></button>
                        <button class="btn btn--gradient mt-0" type=""><span>Save Changes</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="account" role="tabpanel" aria-labelledby="Lights-tab">
              <div class="media mt-4 mt-md-5">
                <div class="img-wrper"><img src="{% static "community/assets/images/profile-img.png" %}" alt=""/></div>
                <div class="media-body my-auto ml-2 ml-md-4">
                  <input class="d-none profile-img" id="profile" name="profile" type="file" accept="image/x-png,image/gif,image/jpeg"/>
                  <label class="gradient-text-only" for="profile" data-value="Upload from Computer">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <text>Upload from Computer</text>
                    </svg>
                  </label>
                </div>
              </div>
              <div class="row mt-4 mt-md-5">
                <form class="contact-join-form getTouch-form w-100" autocomplete="off">
                  <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-First" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-First">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="profile-Email" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-Email">Email ID</label>
                      </div>
                      <div class="form-group radiobuttons mt-md-3 mt-2">
                        <label class="gender-lbl" for="profile-gender">Gender</label>
                        <div class="gender-wrp">
                          <div class="rdio rdio-primary mr-3 mr-md-4">
                            <input id="male" name="radio" value="1" type="radio" checked=""/>
                            <label for="male">Male</label>
                          </div>
                          <div class="rdio rdio-primary">
                            <input id="female" name="radio" value="2" type="radio"/>
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-last" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-last">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="mobile1" type="number" required="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57"/>
                        <label class="form-control-placeholder" for="mobile1">Phone Number</label>
                      </div>
                      <div class="form-group d-flex align-items-center my-md-3 my-2 psw-input">
                        <input class="form-control input-type" id="password" type="password" required=""/>
                        <label class="form-control-placeholder" for="password">Password</label><a class="psw-link gradient-text-only fnt-sm d-block pr-0" href="#" data-value="Change Password">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <text>Change Password</text>
                          </svg></a>
                      </div>
                      <div class="d-flex justify-content-end my-md-3 my-2">
                        <button class="btn btn--white mt-0 mr-3 mr-md-5" type=""><span>Reset</span></button>
                        <button class="btn btn--gradient mt-0" type=""><span>Save Changes</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  {% endblock %}
