{% extends "community/base.html" %}
{% load static %}
{% block content %}
    <main class="js-white-header js-Profile-form js-home-page">
      <div class="page-loader" style="width: 100%;height: 100%;position: fixed;background: #ffffff;z-index: 10000;left: 0;top: 0;"></div>
      <svg class="text-gradient-value" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <lineargradient id="text-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#6164F1;stop-opacity:1"></stop>
          <stop offset="100%" style="stop-color:#FF6FD4;stop-opacity:1"></stop>
        </lineargradient>
      </svg>
      <section class="faq profile">
        <div class="container">
          <ul class="faq-tab nav pt-2 pt-md-5 d-flex fub-tabs-brder" role="tablist">
            <li class="nav-item"><a class="nav-link faq-tab-head py-3 py-md-4 px-4 active" id="user-profile-tab" data-toggle="tab" href="#user-profile" role="tab" aria-controls="safty" aria-selected="true">Profile Settings</a></li>
            <li class="nav-item"><a class="nav-link faq-tab-head py-3 py-md-4 px-4" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="Lights" aria-selected="false">Account Settings</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="user-profile" role="tabpanel" aria-labelledby="safty-tab">
              <div class="media mt-4 mt-md-5">
                <div class="img-wrper"><img src="{% static "community/assets/images/profile-img.png" %}" alt=""/></div>
                <div class="media-body my-auto ml-2 ml-md-4">
                  <input class="d-none profile-img" id="profile" name="profile" type="file" accept="image/x-png,image/gif,image/jpeg"/>
                  <label class="gradient-text-only" for="profile" data-value="Upload from Computer">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <text>Upload from Computer</text>
                    </svg>
                  </label>
                </div>
              </div>
              <div class="row mt-4 mt-md-5">
                {% if user.is_authenticated %}
                <form class="contact-join-form getTouch-form w-100" autocomplete="off">
                  <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-First" value = "{{ user.first_name }}" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-First">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="profile-Email" value = "{{ user.email }}" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-Email">Email ID</label>
                      </div>
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-city" value = "{{ user.city }}" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-city">City</label>
                      </div>
                      <div class="form-group mb-3">
                        <select class="form-control option-type" id="profile-country" type="option" required=""/>
                      	<option value="AF">Afghanistan</option>
                      	<option value="AX">Åland Islands</option>
                      	<option value="AL">Albania</option>
                      	<option value="DZ">Algeria</option>
                      	<option value="AS">American Samoa</option>
                      	<option value="AD">Andorra</option>
                      	<option value="AO">Angola</option>
                      	<option value="AI">Anguilla</option>
                      	<option value="AQ">Antarctica</option>
                      	<option value="AG">Antigua and Barbuda</option>
                      	<option value="AR">Argentina</option>
                      	<option value="AM">Armenia</option>
                      	<option value="AW">Aruba</option>
                      	<option value="AU">Australia</option>
                      	<option value="AT">Austria</option>
                      	<option value="AZ">Azerbaijan</option>
                      	<option value="BS">Bahamas</option>
                      	<option value="BH">Bahrain</option>
                      	<option value="BD">Bangladesh</option>
                      	<option value="BB">Barbados</option>
                      	<option value="BY">Belarus</option>
                      	<option value="BE">Belgium</option>
                      	<option value="BZ">Belize</option>
                      	<option value="BJ">Benin</option>
                      	<option value="BM">Bermuda</option>
                      	<option value="BT">Bhutan</option>
                      	<option value="BO">Bolivia, Plurinational State of</option>
                      	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                      	<option value="BA">Bosnia and Herzegovina</option>
                      	<option value="BW">Botswana</option>
                      	<option value="BV">Bouvet Island</option>
                      	<option value="BR">Brazil</option>
                      	<option value="IO">British Indian Ocean Territory</option>
                      	<option value="BN">Brunei Darussalam</option>
                      	<option value="BG">Bulgaria</option>
                      	<option value="BF">Burkina Faso</option>
                      	<option value="BI">Burundi</option>
                      	<option value="KH">Cambodia</option>
                      	<option value="CM">Cameroon</option>
                      	<option value="CA">Canada</option>
                      	<option value="CV">Cape Verde</option>
                      	<option value="KY">Cayman Islands</option>
                      	<option value="CF">Central African Republic</option>
                      	<option value="TD">Chad</option>
                      	<option value="CL">Chile</option>
                      	<option value="CN">China</option>
                      	<option value="CX">Christmas Island</option>
                      	<option value="CC">Cocos (Keeling) Islands</option>
                      	<option value="CO">Colombia</option>
                      	<option value="KM">Comoros</option>
                      	<option value="CG">Congo</option>
                      	<option value="CD">Congo, the Democratic Republic of the</option>
                      	<option value="CK">Cook Islands</option>
                      	<option value="CR">Costa Rica</option>
                      	<option value="CI">Côte d'Ivoire</option>
                      	<option value="HR">Croatia</option>
                      	<option value="CU">Cuba</option>
                      	<option value="CW">Curaçao</option>
                      	<option value="CY">Cyprus</option>
                      	<option value="CZ">Czech Republic</option>
                      	<option value="DK">Denmark</option>
                      	<option value="DJ">Djibouti</option>
                      	<option value="DM">Dominica</option>
                      	<option value="DO">Dominican Republic</option>
                      	<option value="EC">Ecuador</option>
                      	<option value="EG">Egypt</option>
                      	<option value="SV">El Salvador</option>
                      	<option value="GQ">Equatorial Guinea</option>
                      	<option value="ER">Eritrea</option>
                      	<option value="EE">Estonia</option>
                      	<option value="ET">Ethiopia</option>
                      	<option value="FK">Falkland Islands (Malvinas)</option>
                      	<option value="FO">Faroe Islands</option>
                      	<option value="FJ">Fiji</option>
                      	<option value="FI">Finland</option>
                      	<option value="FR">France</option>
                      	<option value="GF">French Guiana</option>
                      	<option value="PF">French Polynesia</option>
                      	<option value="TF">French Southern Territories</option>
                      	<option value="GA">Gabon</option>
                      	<option value="GM">Gambia</option>
                      	<option value="GE">Georgia</option>
                      	<option value="DE">Germany</option>
                      	<option value="GH">Ghana</option>
                      	<option value="GI">Gibraltar</option>
                      	<option value="GR">Greece</option>
                      	<option value="GL">Greenland</option>
                      	<option value="GD">Grenada</option>
                      	<option value="GP">Guadeloupe</option>
                      	<option value="GU">Guam</option>
                      	<option value="GT">Guatemala</option>
                      	<option value="GG">Guernsey</option>
                      	<option value="GN">Guinea</option>
                      	<option value="GW">Guinea-Bissau</option>
                      	<option value="GY">Guyana</option>
                      	<option value="HT">Haiti</option>
                      	<option value="HM">Heard Island and McDonald Islands</option>
                      	<option value="VA">Holy See (Vatican City State)</option>
                      	<option value="HN">Honduras</option>
                      	<option value="HK">Hong Kong</option>
                      	<option value="HU">Hungary</option>
                      	<option value="IS">Iceland</option>
                      	<option value="IN">India</option>
                      	<option value="ID">Indonesia</option>
                      	<option value="IR">Iran, Islamic Republic of</option>
                      	<option value="IQ">Iraq</option>
                      	<option value="IE">Ireland</option>
                      	<option value="IM">Isle of Man</option>
                      	<option value="IL">Israel</option>
                      	<option value="IT">Italy</option>
                      	<option value="JM">Jamaica</option>
                      	<option value="JP">Japan</option>
                      	<option value="JE">Jersey</option>
                      	<option value="JO">Jordan</option>
                      	<option value="KZ">Kazakhstan</option>
                      	<option value="KE">Kenya</option>
                      	<option value="KI">Kiribati</option>
                      	<option value="KP">Korea, Democratic People's Republic of</option>
                      	<option value="KR">Korea, Republic of</option>
                      	<option value="KW">Kuwait</option>
                      	<option value="KG">Kyrgyzstan</option>
                      	<option value="LA">Lao People's Democratic Republic</option>
                      	<option value="LV">Latvia</option>
                      	<option value="LB">Lebanon</option>
                      	<option value="LS">Lesotho</option>
                      	<option value="LR">Liberia</option>
                      	<option value="LY">Libya</option>
                      	<option value="LI">Liechtenstein</option>
                      	<option value="LT">Lithuania</option>
                      	<option value="LU">Luxembourg</option>
                      	<option value="MO">Macao</option>
                      	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
                      	<option value="MG">Madagascar</option>
                      	<option value="MW">Malawi</option>
                      	<option value="MY">Malaysia</option>
                      	<option value="MV">Maldives</option>
                      	<option value="ML">Mali</option>
                      	<option value="MT">Malta</option>
                      	<option value="MH">Marshall Islands</option>
                      	<option value="MQ">Martinique</option>
                      	<option value="MR">Mauritania</option>
                      	<option value="MU">Mauritius</option>
                      	<option value="YT">Mayotte</option>
                      	<option value="MX">Mexico</option>
                      	<option value="FM">Micronesia, Federated States of</option>
                      	<option value="MD">Moldova, Republic of</option>
                      	<option value="MC">Monaco</option>
                      	<option value="MN">Mongolia</option>
                      	<option value="ME">Montenegro</option>
                      	<option value="MS">Montserrat</option>
                      	<option value="MA">Morocco</option>
                      	<option value="MZ">Mozambique</option>
                      	<option value="MM">Myanmar</option>
                      	<option value="NA">Namibia</option>
                      	<option value="NR">Nauru</option>
                      	<option value="NP">Nepal</option>
                      	<option value="NL">Netherlands</option>
                      	<option value="NC">New Caledonia</option>
                      	<option value="NZ">New Zealand</option>
                      	<option value="NI">Nicaragua</option>
                      	<option value="NE">Niger</option>
                      	<option value="NG">Nigeria</option>
                      	<option value="NU">Niue</option>
                      	<option value="NF">Norfolk Island</option>
                      	<option value="MP">Northern Mariana Islands</option>
                      	<option value="NO">Norway</option>
                      	<option value="OM">Oman</option>
                      	<option value="PK">Pakistan</option>
                      	<option value="PW">Palau</option>
                      	<option value="PS">Palestinian Territory, Occupied</option>
                      	<option value="PA">Panama</option>
                      	<option value="PG">Papua New Guinea</option>
                      	<option value="PY">Paraguay</option>
                      	<option value="PE">Peru</option>
                      	<option value="PH">Philippines</option>
                      	<option value="PN">Pitcairn</option>
                      	<option value="PL">Poland</option>
                      	<option value="PT">Portugal</option>
                      	<option value="PR">Puerto Rico</option>
                      	<option value="QA">Qatar</option>
                      	<option value="RE">Réunion</option>
                      	<option value="RO">Romania</option>
                      	<option value="RU">Russian Federation</option>
                      	<option value="RW">Rwanda</option>
                      	<option value="BL">Saint Barthélemy</option>
                      	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                      	<option value="KN">Saint Kitts and Nevis</option>
                      	<option value="LC">Saint Lucia</option>
                      	<option value="MF">Saint Martin (French part)</option>
                      	<option value="PM">Saint Pierre and Miquelon</option>
                      	<option value="VC">Saint Vincent and the Grenadines</option>
                      	<option value="WS">Samoa</option>
                      	<option value="SM">San Marino</option>
                      	<option value="ST">Sao Tome and Principe</option>
                      	<option value="SA">Saudi Arabia</option>
                      	<option value="SN">Senegal</option>
                      	<option value="RS">Serbia</option>
                      	<option value="SC">Seychelles</option>
                      	<option value="SL">Sierra Leone</option>
                      	<option value="SG">Singapore</option>
                      	<option value="SX">Sint Maarten (Dutch part)</option>
                      	<option value="SK">Slovakia</option>
                      	<option value="SI">Slovenia</option>
                      	<option value="SB">Solomon Islands</option>
                      	<option value="SO">Somalia</option>
                      	<option value="ZA">South Africa</option>
                      	<option value="GS">South Georgia and the South Sandwich Islands</option>
                      	<option value="SS">South Sudan</option>
                      	<option value="ES">Spain</option>
                      	<option value="LK">Sri Lanka</option>
                      	<option value="SD">Sudan</option>
                      	<option value="SR">Suriname</option>
                      	<option value="SJ">Svalbard and Jan Mayen</option>
                      	<option value="SZ">Swaziland</option>
                      	<option value="SE">Sweden</option>
                      	<option value="CH">Switzerland</option>
                      	<option value="SY">Syrian Arab Republic</option>
                      	<option value="TW">Taiwan, Province of China</option>
                      	<option value="TJ">Tajikistan</option>
                      	<option value="TZ">Tanzania, United Republic of</option>
                      	<option value="TH">Thailand</option>
                      	<option value="TL">Timor-Leste</option>
                      	<option value="TG">Togo</option>
                      	<option value="TK">Tokelau</option>
                      	<option value="TO">Tonga</option>
                      	<option value="TT">Trinidad and Tobago</option>
                      	<option value="TN">Tunisia</option>
                      	<option value="TR">Turkey</option>
                      	<option value="TM">Turkmenistan</option>
                      	<option value="TC">Turks and Caicos Islands</option>
                      	<option value="TV">Tuvalu</option>
                      	<option value="UG">Uganda</option>
                      	<option value="UA">Ukraine</option>
                      	<option value="AE">United Arab Emirates</option>
                      	<option value="GB">United Kingdom</option>
                      	<option value="US">United States</option>
                      	<option value="UM">United States Minor Outlying Islands</option>
                      	<option value="UY">Uruguay</option>
                      	<option value="UZ">Uzbekistan</option>
                      	<option value="VU">Vanuatu</option>
                      	<option value="VE">Venezuela, Bolivarian Republic of</option>
                      	<option value="VN">Viet Nam</option>
                      	<option value="VG">Virgin Islands, British</option>
                      	<option value="VI">Virgin Islands, U.S.</option>
                      	<option value="WF">Wallis and Futuna</option>
                      	<option value="EH">Western Sahara</option>
                      	<option value="YE">Yemen</option>
                      	<option value="ZM">Zambia</option>
                      	<option value="ZW">Zimbabwe</option>
                      </select>
                      <label class="form-control-placeholder" for="profile-country">Country</label>
                      </div>
                      {% if user.gender == 'Male' %}
                      <div class="form-group radiobuttons mt-md-3 mt-2">
                        <label class="gender-lbl" for="profile-gender">Gender</label>
                        <div class="gender-wrp">
                          <div class="rdio rdio-primary mr-3 mr-md-4">
                            <input id="male" name="radio" value="1" type="radio" checked=""/>
                            <label for="male">Male</label>
                          </div>
                          <div class="rdio rdio-primary">
                            <input id="female" name="radio" value="2" type="radio"/>
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <div class="form-group radiobuttons mt-md-3 mt-2">
                        <label class="gender-lbl" for="profile-gender">Gender</label>
                        <div class="gender-wrp">
                          <div class="rdio rdio-primary mr-3 mr-md-4">
                            <input id="male" name="radio" value="1" type="radio"/>
                            <label for="male">Male</label>
                          </div>
                          <div class="rdio rdio-primary">
                            <input id="female" name="radio" value="2" type="radio" checked=""/>
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-last" type="text" value="{{ user.last_name }}" required=""/>
                        <label class="form-control-placeholder" for="profile-last">Last Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="mobile1" type="number" required="" value="{{ user.mobile }}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57"/>
                        <label class="form-control-placeholder" for="mobile1">Mobile Number</label>
                      </div>
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-zip" value = "{{ user.zip }}" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-zip">Zip</label>
                      </div>
                      <div class="form-group d-flex align-items-center my-md-3 my-2 psw-input">
                        <input class="form-control input-type" id="password" type="password" required=""/>
                        <label class="form-control-placeholder" for="password">Password</label><a class="psw-link gradient-text-only fnt-sm d-block pr-0" href="#" data-value="Change Password">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <text>Change Password</text>
                          </svg></a>
                      </div>
                      <div class="form-group">
                        <input class="form-control date-type" type="date" id="birthday" value="{{ user.dob|date:'Y-m-d' }}" name="birthday">
                        <label class="form-control-placeholder" for="birthday">Date of Birth</label>
                      </div>
                      <div class="d-flex justify-content-end my-md-3 my-2">
                        <button class="btn btn--white mt-0 mr-3 mr-md-5" type=""><span>Reset</span></button>
                        <button class="btn btn--gradient mt-0" type=""><span>Save Changes</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="account" role="tabpanel" aria-labelledby="Lights-tab">
              <div class="media mt-4 mt-md-5">
                <div class="img-wrper"><img src="{% static "community/assets/images/profile-img.png" %}" alt=""/></div>
                <div class="media-body my-auto ml-2 ml-md-4">
                  <input class="d-none profile-img" id="profile" name="profile" type="file" accept="image/x-png,image/gif,image/jpeg"/>
                  <label class="gradient-text-only" for="profile" data-value="Upload from Computer">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                      <text>Upload from Computer</text>
                    </svg>
                  </label>
                </div>
              </div>
              <div class="row mt-4 mt-md-5">
                <form class="contact-join-form getTouch-form w-100" autocomplete="off">
                  <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-First" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-First">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="profile-Email" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-Email">Email ID</label>
                      </div>
                      <div class="form-group radiobuttons mt-md-3 mt-2">
                        <label class="gender-lbl" for="profile-gender">Gender</label>
                        <div class="gender-wrp">
                          <div class="rdio rdio-primary mr-3 mr-md-4">
                            <input id="male" name="radio" value="1" type="radio" checked=""/>
                            <label for="male">Male</label>
                          </div>
                          <div class="rdio rdio-primary">
                            <input id="female" name="radio" value="2" type="radio"/>
                            <label for="female">Female</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-3">
                        <input class="form-control input-type" id="profile-last" type="text" required=""/>
                        <label class="form-control-placeholder" for="profile-last">First Name</label>
                      </div>
                      <div class="form-group my-md-3 my-2">
                        <input class="form-control input-type" id="mobile1" type="number" required="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57"/>
                        <label class="form-control-placeholder" for="mobile1">Phone Number</label>
                      </div>
                      <div class="form-group d-flex align-items-center my-md-3 my-2 psw-input">
                        <input class="form-control input-type" id="password" type="password" required=""/>
                        <label class="form-control-placeholder" for="password">Password</label><a class="psw-link gradient-text-only fnt-sm d-block pr-0" href="#" data-value="Change Password">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <text>Change Password</text>
                          </svg></a>
                      </div>
                      <div class="d-flex justify-content-end my-md-3 my-2">
                        <button class="btn btn--white mt-0 mr-3 mr-md-5" type=""><span>Reset</span></button>
                        <button class="btn btn--gradient mt-0" type=""><span>Save Changes</span></button>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      {% if user.is_authenticated %}
          selectElement('profile-country', '{{ user.nationality }}')
          function selectElement(id, valueToSelect) {
          let element = document.getElementById(id);
          element.value = valueToSelect;
      }
      {% endif %}
    </script>
  {% endblock %}
