{% extends "community/base.html" %}
{% load static %}
{% block content %}
      <section class="section-profile-banner">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="profile-banner">
                {% if user.is_authenticated %}
                {% if user.cover.url is not None %}
                  <div class="d-flex flex-column justify-content-center align-items-center"><img class="mb-3" src="{{ user.cover.url }}" width="96" height="96" alt="profile"/>
                {% else %}
                  <div class="d-flex flex-column justify-content-center align-items-center"><img class="mb-3" src="{% static 'community/assets/images/profile-imgi.png' %}" width="96" height="96" alt="profile"/>
                {% endif %}
                  <p class="mb-3 profile-name">{{ user.first_name }} {{ user.last_name }}</p>
                  <p class="profile-desc">{{ user.email }}<span class="ml-3">{{ user.mobile }}</span></p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-thread bg-grey section-padding5">
        <div class="container">
          <div class="form-tabs w-100">
            <div class="tabbable-panel">
              <div class="tabbable-line">
                <ul class="nav nav-tabs">
                  <li><a class="active" href="#tab_answer" data-toggle="tab">Threads answered by you</a></li>
                  <li><a href="#tab_create" data-toggle="tab">Threads created by you</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_answer">
                    <div class="d-flex justify-content-between mb-4">
                      <h3 class="table-heading"> </h3>
                      <div class="d-flex align-items-center">
                        <div class="newThredPopup mr-4"><a class="new-thread gradient-text gradient-link mx-0" href="#newThrdPopup" data-toggle="modal" data-value="Add new thread">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                              <text>Add new thread</text>
                            </svg></a></div>
                        <div class="search-box">
                          <input class="inpt-search" type="search" name="search" placeholder="Search..."/><img class="open-search" src="{% static "community/assets/icons/icon-Search.svg" %}" alt="icon-Search"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <table class="table-thread">
                          <thead class="table-header">
                            <tr>
                              <th>Thread</th>
                              <th>Category/Product</th>
                              <th>Thread Status</th>
                              <th>Date</th>
                              <th>Edit/Close thread</th>
                            </tr>
                          </thead>
                          <tbody class="table-body">
                            <tr>
                              <td>How to switch off lights in my living room Threads Answered By You</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--open">Open</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12">
                        <nav class="table-pagination">
                          <h4>Page <span class="pagi-current-num">1 </span>0f <span class="pagi-total-num">24</span></h4>
                          <ul class="pagination">
                            <li class="pagination-item"><a class="page-link pagi-arrow pagi-arrow--left" href="#"></a></li>
                            <li class="pagination-item"><a class="page-link active" href="#">01</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">02</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">03</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">04</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">05</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">06</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">07</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">08</a></li>
                            <li class="pagination-item"><a class="page-link pagi-arrow pagi-arrow--right" href="#"></a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab_create">
                    <div class="d-flex justify-content-between mb-4">
                      <h3 class="table-heading"></h3>
                      <div class="d-flex align-items-center">
                        <div class="newThredPopup mr-4"><a class="new-thread gradient-text gradient-link mx-0" href="#newThrdPopup" data-toggle="modal" data-value="Add new thread">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                              <text>Add new thread</text>
                            </svg></a></div>
                        <div class="search-box">
                          <input class="inpt-search" type="search" name="search" placeholder="Search..."/><img class="open-search" src="{% static "community/assets/icons/icon-Search.svg" %}" alt="icon-Search"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <table class="table-thread">
                          <thead class="table-header">
                            <tr>
                              <th>Thread</th>
                              <th>Category/Product</th>
                              <th>Thread Status</th>
                              <th>Date</th>
                              <th>Edit/Close thread</th>
                            </tr>
                          </thead>
                          <tbody class="table-body">
                            <tr>
                              <td>How to switch off lights in my living room Threads Created By You</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--open">Open</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                            <tr>
                              <td>How to switch off lights in my living room</td>
                              <td>Smart Home automation / Magic Switches</td>
                              <td class="thrd-status"><img src="{% static "community/assets/icons/Comment-Icon.svg" %}" alt="icon-comment"/><span class="thrd-status__num">2</span><span>Replies </span><span class="thrdStat thrdStat--solved">Solved</span></td>
                              <td class="thrd-date">20 Dec 2019 <span>09:45 Am</span></td>
                              <td><img class="action-icons mr-3" src="{% static "community/assets/images/forum/edit.svg" %}"/><img class="action-icons" src="{% static "community/assets/images/forum/delete.svg" %}"/></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12">
                        <nav class="table-pagination">
                          <h4>Page <span class="pagi-current-num">1 </span>0f <span class="pagi-total-num">24</span></h4>
                          <ul class="pagination">
                            <li class="pagination-item"><a class="page-link pagi-arrow pagi-arrow--left" href="#"></a></li>
                            <li class="pagination-item"><a class="page-link active" href="#">01</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">02</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">03</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">04</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">05</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">06</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">07</a></li>
                            <li class="pagination-item"><a class="page-link" href="#">08</a></li>
                            <li class="pagination-item"><a class="page-link pagi-arrow pagi-arrow--right" href="#"></a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal fade new-thread-modal" id="newThrdPopup" tabindex="-1" role="dialog" aria-labelledby="newThrdPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Ask Your Question</h5><a class="close" href="javascript:void(0);" data-dismiss="modal" aria-label="Close"><img src="{% static "community/assets/images/forum/close.svg" %}"/></a>
            </div>
            <form class="join-form login-form newThrdForm mt-0" id="loginForm" autocomplete="off">
              <div class="modal-body">
                <div class="form-block">
                  <div class="form-group">
                    <div class="select">
                      <select class="form-control input-type" id="slct-categry" name="Category">
                        <option selected="" disabled="">Choose an option</option>
                        <option value="1">Smart home automation</option>
                        <option value="2">Touch switch</option>
                        <option value="3">Door Lock</option>
                      </select>
                      <label class="form-control-placeholder" for="Category">Category</label><img class="select-arrow" src="{% static "community/assets/images/forum/select-arrow.svg" %}"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="select">
                      <select class="form-control input-type" id="slct-Product" name="Product">
                        <option selected="" disabled="">Choose an option</option>
                        <option value="1">Smart home automation</option>
                        <option value="2">Touch switch</option>
                        <option value="3">Door Lock</option>
                      </select>
                      <label class="form-control-placeholder" for="Product">Product</label><img class="select-arrow" src="{% static "community/assets/images/forum/select-arrow.svg" %}"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <input class="form-control input-type" id="Topic" type="text" required=""/>
                    <label class="form-control-placeholder" for="Topic">Topic</label>
                  </div>
                  <div class="form-group mb-0">
                    <textarea class="form-control" id="Message" type="textarea" required="" rows="3"></textarea>
                    <label class="form-control-placeholder text-area-label" for="Message">Messgae</label>
                  </div>
                </div>
              </div>
              <div class="modal-footer border-top-0 d-flex">
                <button class="btn btn--white mt-0" type=""><span>Reset</span></button>
                <button class="btn btn--gradient mt-0 ml-3 ml-md-4" type=""><span>Submit</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
